<form name="password_form" action="/cgi-bin/toolkit/change_password.py" method="POST">
<fieldset>
<legend>Change password</legend>
Current password: 
<input type="password" name="passwd" class="form-control password" placeholder="Current Password"><p></p>
Set new Password: 
<input type="password" name="passwd_new1" class="form-control password" placeholder="New Password">
Retype password: 
<input type="password" name="passwd_new2" class="form-control password" placeholder="Retype Password">
<input type="submit" value="Change password" class="btn btn-primary">
</fieldset>
</form>
