<div class="row">
    <div class="input-field col s12">    
        <select name="control_list" id="control_list">
        </select>
        <label>Select a volume control</label>
    </div>
</div>
<div id="slider-vertical" style="height:15px;width:90%; float: left;"></div>
<div id="amount" style="width:10%; float: right;">
      <p id="amount" align="right" style="border:0; color:#f6931f; font-weight:bold;"></p>
</div>
<br>
<br>
<button id='mute-button' onclick='toggleMute();' style="float: left" class="btn"></button>
<button onclick="testSpeakers();" style="float: right" class="btn btn-primary">Test speakers</button>


<style>
    fieldset {
      border: 0;
    }
    .overflow {
      height: 200px;
    }
    .btn {
        display: none;
    }
    button.btn[class*="btn-"] {
        display: block;
    }
</style>
<script src="/js/volume_manager.js" type="text/javascript"></script>

