<?xml version="1.0"?>
<pi-android-menu>
    <action>
        <name></name>
        <value></value>
    </action>
    <action>
        <name></name>
        <value></value>
    </action>
    <action>
        <name></name>
        <value></value>
    </action>
    <action>
        <name></name>
        <value></value>
    </action>
    <action>
        <name></name>
        <value></value>
    </action>
</pi-android-menu>
    
