#awesome-navbar.navbar{
	margin-bottom: 5px;
	margin-top: 5px;
}
#overview.jumbotron{
	padding-bottom: 0;
	padding-top: 0;
}
#overview.jumbotron h1{
	font-size:45px!important;
	margin-bottom:6px!important;
	margin-top:0px!important;
	
}
#overview .span24{
	margin-left:0px;
}
.container .span23{
	padding-bottom:30px
}