</div>
    <div id="dialog" title="pi-web-agent"><span id="dialog_content"></span></div>

            
    </div>
        
    </div>

</div>
<footer>
            <div align="center" id="footer">
                <p>Version: 0.4, Copyright © pi-web-agent community 2014</p>
                <img src="/icons/cy.png" width="40" height="30"><font size="1"> 100% Cyprus Product</font>
                <p></p>
                <p><time pubdate="" datetime="26/10/2013"></time></p>
                <p align="center">
                    <a href="https://www.facebook.com/pages/Raspberry-Pi-Web-Agent/481006072007776" target="_blank">
                        <img width="32" height="32" src="/icons/fb.png">
                        Like us

                    </a>
                </p>

            </div>
            
</footer>

    
    </body>
</html>
