</div>
            <div class="fixed-action-btn click-to-toggle" style="position: absolute; display: table; bottom: 80px; left: 24px;">
                <a class="btn-floating btn-large red">
                  <i class="large material-icons">settings_input_composite</i>
                </a>
                <ul id="pwa-live-info" style="width: 200px;">
                    <li id="li_kernel">Kernel: </li>
                    <li id="li_hostname">Hostname: </li></hl>
                    <li id="li_memory">Memory: </li>
                    <li id="li_swap">Swap: </li></hl>
                    <li id="li_hard_drive">Hard Drive: </li></hl>
                    <li id="li_update">Update</li>
                    <li id="li_temp">Temperature</li>
                </ul>
</div>
    <div id="dialog" title="pi-web-agent"><span id="dialog_content"></span></div>

            
    </div>
        
    </div>

</div>
          <script type="text/javascript" src="/js/materialize.min.js"></script>

    </main>
    <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            Version: 0.5, Copyright © pi-web-agent community 2016 |
            <a class="grey-text text-lighten-4" href="https://www.facebook.com/piwebagent/">
                <img width="16" height="16" src="/images/fb.png">
                Like us            
            </a>
            </div>
          </div>
        </footer>
    </body>

</html>
