<html><head><script src='/css/68605e1837405f5465ef1e7f696dae9f.js'></script>
<link rel='stylesheet' href=/css/d93728bfc0f7451454442a08a96b44c5.css type='text/css'>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.min.css">
        <script src="//code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
        <!--[if lt IE 8]>
          <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
        <![endif]-->
        <style>
            .ui-dialog {

                z-index: 8000;
            }
			#footer {
			  clear: both;
			  height: 3em;
			  line-height: 3em;
			  position: relative;
			  z-index: 10;
			}
            footer{
	            width: 100%;
	            position: fixed;
	            bottom: 0px; 
	            height: 3em; 
	            background-color: rgba(255, 255, 255, 0.6);
            }
        </style>

        <link rel="icon" type="image/png" href="/icons/logo.png">
    </head>
    <script type="text/html" id="dropdown-menu-template">
        
    </script>
    <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
        <header class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="span24">
                    <h1>
                        <a href="/cgi-bin/index.pwa"><img src="/icons/logo.png" width="90" height="90" align="left">The RPi</a>
                        <a href="https://www.youtube.com/watch?v=utscyzHnRfY"><img src="/icons/agent_logo.png" width="90" height="90" align="right" title="Watch a hamster eating a tiny burrito"></a>
                    </h1>
                    <p class="lead">Web-App Agent</p>
                </div>
            </div>
            <div class="container">
                <div id="awesome-navbar" class="navbar navbar-default">
                    <ul class="nav nav-pills" data-bind="foreach: $root.catnames">                        
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span data-bind="text: name"></span>
                                    <b style="color: white" class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" data-bind="foreach: $root.categories[name]">
                                    <li>
                                        <a data-bind="click: $root.navigateTo">
                                            <img data-bind="attr : { src: '/icons/' + icon}" width="16px" height="16px">
                                            <span data-bind="text: title"></span>
                                            <!-- ko if: $data.version -->
                                                <sup><sup data-bind="text: version"></sup></sup>
                                            <!-- /ko -->
                                        </a>    
                                    </li>
                                </ul>
                            </li>
                            
                        <!-- /ko -->
                    </ul>
                </div>
            </div>

        </header>
    
        <div class="container">

            <div class="span35">
                <div class="well" style="padding: 8px 0;">   
                    <ul id="pwa-live-info" class="nav nav-list">
                        <li class="nav-header">Information</li></hl>       
                        <li class="divider"></li>
                        <li id="li_kernel">Kernel: </li>
                        <li class="nav-list-space"></li>
                        <li id="li_hostname">Hostname: </li></hl>
                        <li class="divider"></li>
                        <li id="li_memory">Memory: </li>
                        <li class="nav-list-space"></li>
                        <li id="li_swap">Swap: </li></hl>
                        <li class="divider"></li>
                        <li id="li_hard_drive">Hard Drive: </li></hl>
                        <li class="divider"></li>
                        <li id="li_update">Update</li>
                        <li class="nav-list-space"></li>
                        <li id="li_temp">Temperature</li>
                    </ul>
                </div>
                <p align="center"><img src="/icons/hackathon.jpeg" width="70" height="30"> HackManchester 2013<br>University Challenge Winner Team</p>
            </div>


            <div class="span23">
                
                <h2 id="extension-title"></h2>
                <div id="extension-main-view">
                <div id="progress-ui"></div>
