</div>
</div>
    <div id="dialog" title="pi-web-agent"><span id="dialog_content"></span></div>

            
    </div>
        
    </div>

</div>

          <script type="text/javascript" src="/js/materialize.min.js"></script>
    </main>
    <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            Version: 0.5, Copyright © pi-web-agent community 2016 |
            <a class="grey-text text-lighten-4" href="https://www.facebook.com/piwebagent/">
                <img width="16" height="16" src="/images/fb.png">
                Like us            
            </a>
            </div>
          </div>
        </footer>
    </body>

</html>
