<html><head><script src='/js/9bab27b888edc4a17a316cf12343c88c.js'></script>
<link rel='stylesheet' href=/css/aaffa55bb089e73c56c3df0e6dad1c9a.css type='text/css'>
      <!--Import Google Icon Font-->
      <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="/css/jquery-ui.min.css">
      <script src="/js/jquery-ui.min.js"></script>
        <style>
            .ui-dialog {

                z-index: 8000;
            }
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
              }

              main {
                flex: 1 0 auto;
              }
            nav a.page-title {
                font-size: 32px;
            }
            footer {
                padding-top: 0px !important;
            }
        </style>

        <link rel="icon" type="image/png" href="/images/logo.png">
    </head>
    <script type="text/html" id="dropdown-menu-template">
        
    </script>
    <body>
        <header id="overview">
            
        </header>
        <main>
        <nav id="awesome-navbar">
            <div class="container">
              <div class="nav-wrapper">
                <a class="page-title">pi-web-agent</a>
                <ul class="right hide-on-large-only">
                    <li><a id="menu-controller" href="#"><i class="material-icons">view_module</i></a></li>
                </ul>
                <ul class="left">
                    <li><a id="menu-refresh"><i class="material-icons">replay</i></a></li>
                    <li><a href="/"><i class="material-icons">web</i></a></li>
                </ul>
              </div>
            </div>
            <ul id="slide-out" class="side-nav fixed">
            <li class="logo">
                <div class="row">
                    <div class="col s12">                    
                        <img src="/images/logo.png" width="128" height="128">
                    </div>                    
                </div>
            </li>
              <li class="no-padding">
                <ul class="collapsible collapsible-accordion" data-bind="foreach: $root.catnames">
                  <li>
                    <a class="collapsible-header" data-bind="text: name"><i class="mdi-navigation-arrow-drop-down"></i></a>
                        <div class="collapsible-body">
                            <ul data-bind="foreach: $root.categories[name]">
                                <li>
                                    <a data-bind="click: $root.navigateTo">
                                        <img data-bind="attr : { src: '/images/' + icon}" width="16px" height="16px">
                                        <span data-bind="text: title"></span>
                                        <!-- ko if: $data.version -->
                                            <sup><sup data-bind="text: version"></sup></sup>
                                        <!-- /ko -->
                                    </a>    
                                </li>
                            </ul>
                        </div>
                  </li>
                </ul>
              </li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>

            </nav>
        <div class="container">
            <div class="row">
                <div class="col s11">
                    
                    <h2 id="extension-title"></h2>
                    <div id="extension-main-view">
                    <div id="progress-ui"></div>
