<script src="/css/thumbnailviewer.js" type="text/javascript"></script>
<div id="camera_toolbar">
    <div class="btn-group btn-group-justified">
        <a href='javascript:navigate("/cgi-bin/toolkit/camera.py?type=js")' class="btn btn-default">Live stream</a>
        <a href='javascript:camera_utils("snapshot")' class="btn btn-default">Snapshot</a>
        <a href='javascript:alert("Coming soon")' class="btn btn-default">Record</a>
        <a href='javascript:camera_utils("stoprecord")' class="btn btn-default">Stop</a>
    </div>
</div>

<div id="gallery_thumbnails">
</div>


<style>
.thumbnail_view {
    background-color: #CCC;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #000;
    margin: 5px;
    width: 100px;
    height: 100px;
}

</style>

<script type="text/javascript">
    function initialiseGallery() {
        getJSONResponse('/cgi-bin/toolkit/camera_manager_api.py?cmd=gallery', galleryUI);
    }
    var images = {};
    function galleryUI(data) {
        $.each(data, function (index, value) {
            images[index] = value;
            var row_index = Math.floor(index/6);
            if (index % 6 == 0) {
                var row = '<div class="row" id="row_' + row_index + '"></div>';
                $('#gallery_thumbnails').append(row);    
            }
            var thumb_div = '<div class="span3"><div id="image_' + index + '" class="thumbnail_view"></div></div>';
            $(thumb_div).bind('click', openImageDialog(value));
            
            $('#row_' + row_index).append(thumb_div);
            $('#image_'+index).css('background-image', 'url(/cgi-bin/toolkit/image_manager.py?image='+ value + ')');
            
        });
    }
    
    function displaySnapshot(data) {
        var image_url = '/cgi-bin/toolkit/image_manager.py?image='+data['name'].split('.')[0]+'.png';
        append_image(image_url);
        endProcessing();
    
    }
    
    function append_image(image_url) {
        var total_images = Object.keys(images).length;
        var index = total_images;
        var row_index = Math.floor(index/6);
        images[total_images] = image_url;
        if (index % 6 == 0) {
            var row = '<div class="row" id="row_' + row_index + '"></div>';
            $('#gallery_thumbnails').append(row);    
        }
        var thumb_div = '<div class="span3"><div id="image_' + index + '" class="thumbnail_view"></div></div>';
        //$(thumb_div).bind('click', openImageDialog(this));
        
        $('#row_' + row_index).append(thumb_div);
        $('#image_'+index).css('background-image', 'url(' + image_url + ')');
            
    }
    
    function openImageDialog(value) {
        
    }
</script>
