<script src="/css/thumbnailviewer.js" type="text/javascript"></script>
<div id="camera_toolbar">
    <div class="btn-group btn-group-justified">
        <a href='javascript:navigate("/cgi-bin/toolkit/camera.py?type=js")' class="btn btn-default">Live stream</a>
        <a href='javascript:camera_utils("snapshot")' class="btn btn-default">Snapshot</a>
        <a href='javascript:alert("Coming soon")' class="btn btn-default">Record</a>
        <a href='javascript:camera_utils("stoprecord")' class="btn btn-default">Stop</a>
</div>

<div id="gallery_thumbnails">
</div>
