<div id="firewall_area">

</div>
<div id="ip_overlay_holder" style="display: none;">
    <div id="ip_overlay">
        <div>
            <h2>Add Rules</h2>
            <form onsubmit="return false;" name="inputRule" id="addRuleID">
                Choose action<br>
                <div  style="margin-bottom: 15px;">            
                    <select id="selectAction" class="form-control">
                        <option>ACCEPT</option>
                        <option>DROP</option>
                    </select>
                </div>
                <div id="protocolRuleOption" style="margin-bottom: 15px;">
                    <input type="checkbox" id="enableProtocolCheckBox" onclick="enableProtocolRule()"/> Protocol
                    <select id="selectProtocol" class="form-control">
                        <option>ALL</option>
                        <option>TCP</option>
                        <option>UDPLITE</option>
                        <option>ICMP</option>
                        <option>ESP</option>
                        <option>AH</option>
                        <option>SCTP</option>
                    </select>
                </div>       
                <div id="IPRuleOption" style="margin-bottom: 15px;">
                    <input type="checkbox" id="enableIPCheckBox" onclick="enableIPRule()"/> Source Address<br>
                    <input id="ipAddress" type="text" name="ipaddress">
                </div>
                <button onclick="validateIPField();" class="btn btn-primary">Submit rule</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/css/firewall.js"></script>

<style>
.rule_table {
border: 1px solid #000000;
border-collapse: collapse;
}
</style>
