<!--css for libraries-->
<link rel="stylesheet" href="/css/jquery-ui.css">
<!--js libraries-->
<script src="/css/jquery-ui.js"></script>
 <script type="text/javascript" src="/css/jquery.knob.min.js"></script>
 <script type="text/javascript" src="/css/reconnecting-websocket/reconnecting-websocket.js"></script>
 <!-- application specific ss and libraries-->
 <link rel="stylesheet" href="/css/toolbar.css">
<script src="/css/mplayer/js/mplayer.js"></script>
<script src="/css/mplayer/js/player_controls.js"></script>

<div id="mplayerLoader" >
    <div class="loaderCircle"></div>
    <div class="loaderCircle2"></div>
</div>
<div id="mplayerLauncherView" class="mplayerView">
    <form id="launcherForm" name="stream_form"  method="POST">
        <fieldset>
            <legend>Start Streaming</legend>
            <label for="volume">Volume:</label>
            <input type="text" class="knob" id="volume" name="volume" value="50" data-fgColor="#999999" data-width="250" data-height="250" data-thickness=".5" />
            <label for="uri">URI:</label>
            <input type="text" name="uri" class="form-control " placeholder="http ... or rtsp ...">

            <input id="startStreamBtn" type="button"  value="Start Stream" class="btn btn-primary">
                    <div id="radio">
            <input type="radio" id="hdmi" name="selection"><label for="hdmi">HDMI</label>
            <input type="radio" id="auto" name="selection" checked="checked"><label for="auto">AUTO</label>
            <input type="radio" id="headphones" name="selection"><label for="headphones">HEADPHONES</label>

                    </div>
                    <input type="hidden" name="output" value="AUTO">

        </fieldset>
    </form>
</div>
<div id="mplayerPlayView" class="mplayerView">

  
		

		
		<p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
			<span class="ui-icon ui-icon-volume-on" style="float:left;
			                             margin:-2px 5px 0 0;"></span>
			<span class="ui-icon ui-icon-signal" 
						style="float:left; margin:-2px 5px 0 0;"></span>
			Main controls and volume 
		</p>
		<!-- circular volume controls -->
		<div style="height:auto;width:auto; position:relative">
			<ul class='circle-container'>
			
			  <li><a href='#'><input class="eq"/></a></li>
			  <li><a href='#'><input class="eq"/></a></li>
			  <li><a href='#'><input class="eq"/></a></li>
			  <li><a href='#'><input class="eq"/></a></li>
			  <li><a href='#'><input class="eq"/></a></li>
			  <li><a href='#'><input class="eq"/></a></li>
			  <li><a href='#'><input class="eq"/></a></li>
			  <li><a href='#'><input class="eq"/></a></li>
			  <li><a href='#'><input class="eq"/></a></li>
			  <li><a href='#'><input class="eq"/></a></li>
			</ul>
			<div style="position:absolute; height:250px;width:250px;margin:0 auto;top:50%;right:50%;margin-right:-125px;margin-top:-125px">
			     <input type="text" class="knob" id="master" name="master" value="50" data-fgColor="#999999" data-width="250" data-height="250" data-thickness=".5" />
			</div>
		</div>
		<!-- end of circular volume controls -->

		<p class="ui-state-default ui-corner-all" style="padding:4px;margin-top:4em;">
                    <span class="ui-icon ui-icon-signal" style="float:left; margin:-2px 5px 0 0;"></span>
                    <div id="status">wait...</div>
		</p>
          
</div>