 <script type="text/javascript" src="/css/jquery.knob.min.js"></script>


<style>
.mplayerView{
    display:none;
}
label {
display: block;
}
#mplayerLoader{    
position: fixed;
top: 50%;
left: 50%;
margin-left: -100px;
margin-top: -100px;
background-image: url('http://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Applications-mplayer.svg/120px-Applications-mplayer.svg.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}
.loaderCircle {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 60px;
    box-shadow: 0 0 35px #2187e7;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

.loaderCircle2 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(28,66,120,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 60px;
    box-shadow: 0 0 15px #395682;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    top: -200px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}
</style>
      <style>
                #eq span {
                    height:120px; float:left; margin:15px
                }
                #toolbar.ui-widget-header{
                    background: #fff; 
                }
        </style>
<div id="mplayerLoader" >
    <div class="loaderCircle"></div>
    <div class="loaderCircle2"></div>
</div>
    	<script>
            window.volume= 20;
            window.eqvals=[0,0,0,0,0,0,0,0,0,0];   
            function updateStatus(data){
               $("#status").html(data.status);
            }
            function showAppropriateView(){
            	$("#mplayerLoader").show();                
				$.getJSON( "mplayer_api.py", function( data ) {
				if (data.status=="playing") {
					// data.redirect is the redirection link
                                         $("#mplayerPlayView").show();
					updateStatus(data)
					if (!mplayerSock){
                                        mplayerSock=mplayerWebSocket();
					}
                                        $("#mplayerLoader").hide();
				}
				else {
                                    
                                        $("#mplayerLauncherView").show();
                                        $("#mplayerLoader").hide();
				}});
            
				
            }
            function constructInitObject(formArr){
                var initObj={}
                for (var i=0; i<formArr.length;i++){
                    initObj[formArr[i]["name"]]=formArr[i]["value"];
                }
                return {init:initObj};
            }
            $( document ).ready(function() {
                     showAppropriateView();
                });
       
		</script>
<div id="mplayerLauncherView" class="mplayerView">
    <form id="launcherForm" name="stream_form"  method="POST">
        <fieldset>
            <legend>Start Streaming</legend>
            <label for="volume">Volume:</label>
            <input type="text" class="knob" id="volume" name="volume" value="50" data-fgColor="#999999" data-width="250" data-height="250" data-thickness=".5" />
            <label for="uri">URI:</label>
            <input type="text" name="uri" class="form-control " placeholder="http ... or rtsp ...">

            <input id="startStreamBtn" type="button"  value="Start Stream" class="btn btn-primary">
                    <div id="radio">
            <input type="radio" id="hdmi" name="selection"><label for="hdmi">HDMI</label>
            <input type="radio" id="auto" name="selection" checked="checked"><label for="auto">AUTO</label>
            <input type="radio" id="headphones" name="selection"><label for="headphones">HEADPHONES</label>

                    </div>
                    <input type="hidden" name="output" value="AUTO">
                    <script>
                    $(function() {
                    $( "#radio" ).buttonset();
                    $("#radio label").click(function(){
                            $("[name=output]").val($(this).text());

                    });
                    });
            </script>
        </fieldset>
    </form>
</div>
<div id="mplayerPlayView" class="mplayerView">
        <link rel="stylesheet" href="/css/jquery-ui.css">
        <script src="/css/jquery-ui.js"></script>
  
		

		<script src="/css/sliders.js"></script>
		<p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
			<span class="ui-icon ui-icon-volume-on" style="float:left;
			                             margin:-2px 5px 0 0;"></span>
			<span class="ui-icon ui-icon-signal" 
						style="float:left; margin:-2px 5px 0 0;"></span>
			Main controls and volume
		</p>
		<link rel="stylesheet" href="/css/toolbar.css">
		<script src="/css/player_controls.js"></script>
		<div id="toolbar" class="ui-widget-header ui-corner-all" style="margin-left:227.5px;">
                    <!---needed in future release <button id="beginning"> go to beginning</button>

                    <button id="rewind">rewind</button>
                    <button id="play">pause</button>--->
                    <button id="stop">stop</button>
                    <!---needed in future release 
                    <button id="forward">fast forward</button>
                    <button id="end">go to end</button>
                    <input type="checkbox" id="shuffle"><label for="shuffle">Shuffle</label>
                    <span id="repeat">
                            <input type="radio" id="repeat0" name="repeat" checked="checked">
                            <label for="repeat0">No Repeat</label>
                            <input type="radio" id="repeat1" name="repeat">
                            <label for="repeat1">Once</label>
                            <input type="radio" id="repeatall" name="repeat">
                            <label for="repeatall">All</label>
                    
                    </span>        --->
                    <input type="text" class="knob" id="master" name="master" value="50" data-fgColor="#999999" data-width="250" data-height="250" data-thickness=".5" />
                    <div id="status">wait...</div>
                    
                </div>

		<p class="ui-state-default ui-corner-all" style="padding:4px;margin-top:4em;">
                    <span class="ui-icon ui-icon-signal" style="float:left; margin:-2px 5px 0 0;"></span>
                    Graphic EQ
		</p>
		<div id="eq" style="margin-left:227.5px;">
                    <span>0</span>
                    <span>0</span>
                    <span>0</span>
                    <span>0</span>
                    <span>0</span>
                    <span>0</span>
                    <span>0</span>
                    <span>0</span>
                    <span>0</span>
                    <span>0</span>
		</div>
          
</div>
<script>$('#master').knob({
    'release' : function (v) {
    	$.post( "mplayer_api.py", JSON.stringify({ volume: v, eqhelper: window.eqvals}));
		}
})
$('#volume').knob();
</script>