<script type="text/javascript" src="/css/services.js"></script>

<div id="data-onoff" style="display:none;">
    <div class="onoffswitch">
        <input type="checkbox" name="service-name" onclick="submit_service(this)" class="onoffswitch-checkbox" id="service-name">
        <label class="onoffswitch-label" for="service-name">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </label>
    </div>
</div>

<div id="services_area">
    <table id="services_table" cellpadding="4" style="border: 1px solid #000000; border-collapse: collapse;" border="1">
        <tr>
            <th>Service Name</th>
            <th>Status</th>
        </tr>
    </table>
</div>

