<label for="control_list">Select a volume control</label>
<select name="control_list" id="control_list" style="display:none" class="span16">
</select>    
<br>
<br>
<div id="slider-vertical" style="height:15px;width:90%; float: left;"></div>
<div id="amount" style="width:10%; float: right;">
      <p id="amount" align="right" style="border:0; color:#f6931f; font-weight:bold;"></p>
</div>
<br>
<br>
<button id='mute-button' onclick='toggleMute();' style="float: left" class="btn"></button>
<button onclick="testSpeakers();" style="float: right" class="btn btn-primary">Test speakers</button>


<style>
    fieldset {
      border: 0;
    }
    label {
      display: block;
      margin: 30px 0 0 0;
    }
    .overflow {
      height: 200px;
    }
    .btn {
        display: none;
    }
    button.btn[class*="btn-"] {
        display: block;
    }
</style>
<script src="/css/volume_manager.js" type="text/javascript"></script>

